In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import tensorflow as tf

In [2]:
data_df = pd.read_excel('FoodAccessResearchAtlasData2019.xlsx')
data_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.000000,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.341014,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.000000,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.000000,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.681219,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [3]:
mn_df = data_df[data_df['State'] == 'Minnesota']
mn_df

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
35210,27001790502,Minnesota,Aitkin County,0,3262,1494,0,7.0,0.214592,0,...,1032.0,3188.0,10.0,8.0,1.0,19.0,36.0,13.0,52.0,83.0
35211,27001770200,Minnesota,Aitkin County,0,2336,995,0,11.0,0.470890,1,...,467.0,2231.0,18.0,2.0,0.0,37.0,48.0,26.0,33.0,184.0
35212,27001790501,Minnesota,Aitkin County,0,1957,916,0,11.0,0.562085,1,...,613.0,1913.0,4.0,1.0,1.0,19.0,19.0,14.0,38.0,58.0
35213,27001770100,Minnesota,Aitkin County,0,2327,1080,0,5.0,0.214869,1,...,668.0,2255.0,3.0,4.0,1.0,45.0,19.0,16.0,44.0,62.0
35214,27001770400,Minnesota,Aitkin County,0,3052,1424,0,0.0,0.000000,1,...,803.0,2758.0,3.0,5.0,0.0,233.0,53.0,36.0,88.0,184.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36539,27171100702,Minnesota,Wright County,1,8207,2916,0,48.0,0.584867,0,...,557.0,7703.0,71.0,91.0,3.0,47.0,292.0,299.0,150.0,286.0
36540,27173970300,Minnesota,Yellow Medicine County,0,2517,1044,0,49.0,1.946762,0,...,467.0,2452.0,2.0,5.0,0.0,11.0,47.0,64.0,30.0,67.0
36541,27173970200,Minnesota,Yellow Medicine County,0,2520,1075,0,122.0,4.841270,0,...,641.0,2479.0,6.0,7.0,0.0,1.0,27.0,44.0,63.0,105.0
36542,27173970400,Minnesota,Yellow Medicine County,0,2030,794,0,1.0,0.049261,1,...,297.0,1920.0,1.0,6.0,5.0,31.0,67.0,170.0,30.0,58.0
36543,27173970100,Minnesota,Yellow Medicine County,0,3371,1379,0,118.0,3.500445,0,...,626.0,2955.0,7.0,15.0,1.0,271.0,122.0,119.0,87.0,136.0

In [4]:
grouped_df = mn_df[["County", "Urban", "Pop2010", "OHU2010",
                            "GroupQuartersFlag", "NUMGQTRS", "PCTGQTRS", "HUNVFlag", "LowIncomeTracts", 
                            "PovertyRate", "MedianFamilyIncome", "TractLOWI", "TractKids", "TractSeniors", 
                            "TractWhite", "TractBlack", "TractAsian", "TractNHOPI", "TractAIAN", 
                            "TractOMultir", "TractHispanic", "TractHUNV", "TractSNAP", "LAhalfand10"]]
grouped_df.head()

,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,HUNVFlag,LowIncomeTracts,PovertyRate,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,LAhalfand10
35210,Aitkin County,0,3262,1494,0,7.0,0.214592,0,1,7.623169,...,3188.0,10.0,8.0,1.0,19.0,36.0,13.0,52.0,83.0,0
35211,Aitkin County,0,2336,995,0,11.0,0.470890,0,1,11.283691,...,2231.0,18.0,2.0,0.0,37.0,48.0,26.0,33.0,184.0,1
35212,Aitkin County,0,1957,916,0,11.0,0.562085,0,1,11.358811,...,1913.0,4.0,1.0,1.0,19.0,19.0,14.0,38.0,58.0,1
35213,Aitkin County,0,2327,1080,0,5.0,0.214869,0,1,12.527473,...,2255.0,3.0,4.0,1.0,45.0,19.0,16.0,44.0,62.0,1
35214,Aitkin County,0,3052,1424,0,0.0,0.000000,0,1,15.459098,...,2758.0,3.0,5.0,0.0,233.0,53.0,36.0,88.0,184.0,1

In [5]:
grouped_df.isnull().sum()

County                0
Urban                 0
Pop2010               0
OHU2010               0
GroupQuartersFlag     0
NUMGQTRS              0
PCTGQTRS              0
HUNVFlag              0
LowIncomeTracts       0
PovertyRate           0
MedianFamilyIncome    8
TractLOWI             0
TractKids             0
TractSeniors          0
TractWhite            0
TractBlack            0
TractAsian            0
TractNHOPI            0
TractAIAN             0
TractOMultir          0
TractHispanic         0
TractHUNV             0
TractSNAP             0
LAhalfand10           0
dtype: int64

In [6]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 35210 to 36543
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   County              1334 non-null   object
 1   Urban               1334 non-null   int64
 2   Pop2010             1334 non-null   int64
 3   OHU2010             1334 non-null   int64
 4   GroupQuartersFlag   1334 non-null   int64
 5   NUMGQTRS            1334 non-null   float64
 6   PCTGQTRS            1334 non-null   float64
 7   HUNVFlag            1334 non-null   int64
 8   LowIncomeTracts     1334 non-null   int64
 9   PovertyRate         1334 non-null   float64
 10  MedianFamilyIncome  1326 non-null   float64
 11  TractLOWI           1334 non-null   float64
 12  TractKids           1334 non-null   float64
 13  TractSeniors        1334 non-null   float64
 14  TractWhite          1334 non-null   float64
 15  TractBlack          1334 non-null   float64
 16  TractAsian          1334 non-null   float64
 17  TractNHOPI          1334 non-null   float64
 18  TractAIAN           1334 non-null   float64
 19  TractOMultir        1334 non-null   float64
 20  TractHispanic       1334 non-null   float64
 21  TractHUNV           1334 non-null   float64
 22  TractSNAP           1334 non-null   float64
 23  LAhalfand10         1334 non-null   int64
dtypes: float64(16), int64(7), object(1)
memory usage: 260.5+ KB

In [7]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()), ["County", "MedianFamilyIncome"]]

                  County  MedianFamilyIncome
35842    Hennepin County                 NaN
35867    Hennepin County                 NaN
35880    Hennepin County                 NaN
35883    Hennepin County                 NaN
35884    Hennepin County                 NaN
36117      Ramsey County                 NaN
36458  Washington County                 NaN
36459  Washington County                 NaN

In [8]:
median = grouped_df.loc[grouped_df["County"] == "Hennepin County"]["MedianFamilyIncome"].median()
median

95140.5

In [9]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Hennepin County"), "MedianFamilyIncome"] = median

In [10]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) | (grouped_df["County"] == "Hennepin County"), ["County", "MedianFamilyIncome"]]

                  County  MedianFamilyIncome
35586    Hennepin County            157891.0
35587    Hennepin County            165500.0
35588    Hennepin County            135417.0
35589    Hennepin County            196845.0
35590    Hennepin County             94792.0
...                  ...                 ...
35883    Hennepin County             95140.5
35884    Hennepin County             95140.5
36117      Ramsey County                 NaN
36458  Washington County                 NaN
36459  Washington County                 NaN

[302 rows x 2 columns]

In [11]:
median2 = grouped_df.loc[grouped_df["County"] == "Washington County"]["MedianFamilyIncome"].median()
median2

106858.0

In [12]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Washington County"), "MedianFamilyIncome"] = median2

In [13]:
median3 = grouped_df.loc[grouped_df["County"] == "Ramsey County"]["MedianFamilyIncome"].median()
median3

76914.0

In [14]:
grouped_df.loc[(grouped_df["MedianFamilyIncome"].isnull()) & (grouped_df["County"] == "Ramsey County"), "MedianFamilyIncome"] = median3

In [15]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1334 entries, 35210 to 36543
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   County              1334 non-null   object
 1   Urban               1334 non-null   int64
 2   Pop2010             1334 non-null   int64
 3   OHU2010             1334 non-null   int64
 4   GroupQuartersFlag   1334 non-null   int64
 5   NUMGQTRS            1334 non-null   float64
 6   PCTGQTRS            1334 non-null   float64
 7   HUNVFlag            1334 non-null   int64
 8   LowIncomeTracts     1334 non-null   int64
 9   PovertyRate         1334 non-null   float64
 10  MedianFamilyIncome  1334 non-null   float64
 11  TractLOWI           1334 non-null   float64
 12  TractKids           1334 non-null   float64
 13  TractSeniors        1334 non-null   float64
 14  TractWhite          1334 non-null   float64
 15  TractBlack          1334 non-null   float64
 16  TractAsian          1334 non-null   float64
 17  TractNHOPI          1334 non-null   float64
 18  TractAIAN           1334 non-null   float64
 19  TractOMultir        1334 non-null   float64
 20  TractHispanic       1334 non-null   float64
 21  TractHUNV           1334 non-null   float64
 22  TractSNAP           1334 non-null   float64
 23  LAhalfand10         1334 non-null   int64
dtypes: float64(16), int64(7), object(1)
memory usage: 260.5+ KB